<div class="container">
  <div class="row justify-content-center d-flex align-items-center" style="height: 100vh">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center text-dark bg-light mb-3">
          <h2>CJF Whosale</h2>
        </div>

        <div class="card-body justify-content-center align-items-center">
          <form action="" class="row">

            <div class="col">

              <div class="form-row">
                <div class="input-group col mb-3">
                  <span class="input-group-text" id="basic-addon1">@</span>
                  <input type="text" class="form-control" placeholder="E-mail" aria-label="Email" aria-describedby="basic-addon1">
                </div>
              </div>

              <div class="form-row">
                <div class="input-group col mb-3">
                  <span class="input-group-text" id="basic-addon2"><i class="fa fa-key"></i></span>
                  <input type="text" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <div class="form-check form-switchs">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckeds" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Remember me</label>
                  </div>
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col">
                  <div class="d-grid gap-2">
                    <button (click)="login()"class="btn btn-primary" type="button">Login</button>
                    <button class="btn btn-secondary" type="button">Sign Up</button>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
